<!-- <h2>List Of Foods</h2>
<ul>
  <li *ngFor="let food Of foods">
    <h2>{{food.food_name}}</h2>
  </li>
</ul> -->
<div class="main">
  <div class="section-title">
      <h2>our menu</h2>
     <h4> <p>“Laughter is brightest in the place where food is.”
      – Irish Proverb</p></h4>
  </div>
  <div class="menus">
      <div class="menu-column">
          <h4>Dishes</h4>
          <div class="single-menu" *ngFor="let food Of foods">
              <img [src] ="myimage" alt="">
              <div class="menu-content">
                  <h5>{{food.food_name}} <span>₹{{food.price}}</span></h5>
                  <h6>{{food.category}}</h6>
              </div>
          </div>
     
  </div>
</div>